<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:300,400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="css/app.css" />
  <script src="bower_components/sprockets-modernizr/modernizr.js"></script>
{% include head.html %}
</head>
<body>
  <div class="container">
    <h1><a href="./">{{ site.h1_tag_text }}</a></h1>
    <!-- {{ content }} -->
    <main>
      <h1>Sebastian Korfmann</h1>
      <h2>I'm a freelance Software Engineer from Germany</h2>
      <p>Currently based in <strong>Hamburg, Germany</strong>.

      <p>I'm part of the R&D team of <a href="http://bulletproof.net.au">Bulletproof Networks</a> in Australia.</p>

      <h3>Talks</h3>
      <p>
        I talked about "Far East Ruby" at <a href="http://2014.eurucamp.org/speakers/#sebastian-korfmann">eurucamp 2014 (Berlin)</a> and "Docker private PaaS" at <a href="http://codeconf.codeaholics.hk/#sebastian-korfmann">Hong Kong CodeConf</a> &amp; <a href="http://rubyhiroba.org/2014/">Ruby Hiroba (Tokyo)</a>.
      </p>

      <p class="subtle">I've <a href="http://blog.skorfmann.com">started to blog</a> again.</p>
      <ul>
        <li><a href="http://twitter.com/skorfmann"><i class="fa fa-twitter"></i></a></li>
        <li><a href="http://linkedin.com/in/skorfmann"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="http://facebook.com/skorfmann"><i class="fa fa-facebook"></i></a></li>
        <li><a href="http://github.com/skorfmann"><i class="fa fa-github-alt"></i></a></li>
        <li><a href="mailto:korfmann.sebastian@gmail.com"><i class="fa fa-envelope"></i></a></li>
      </ul>
    </main>
  </div>
{% include scripts.html %}
</body>
</html>
